<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <style>
    .right_box {
    height: 50px;              /* 高さ指定 */
    width: 50%;               /* 幅指定 */
    background-color: #2196F3;     /* 背景色指定 */
    float:right;
    }
    .left_box{
    height: 50px;              /* 高さ指定 */
    width: 50%;
    background-color: #2196F3;  /* 背景色指定 */
    float:left
    }
    tod_box{
    height: 50px;
    width: 80%;
    background-color: #2196F3;
    float:center;
    }
    </style>
</head>
<body>
<div class = "right_box">
    <p style="text-align: right;">
        <a th:href="@{/search}">
            <font size="5">検索</font>
        </a>
    </p>
</div>
<div class = "left_box">
    <p style="text-align: left;">
        <a th:href="@{/}">
            <font size="5">TODOリスト</font>
        </a>
    </p>
</div>
<br>
<br>

<hr />

<form method="post" th:action="@{/new}">
    新しいtodoを作成する<br>
    todo名<input type="text" name="title" maxlength="30"/><br>
    期限 <input type="text" name="deadline" maxlength="30"/>
    <input type="submit" value="追加" />
</form>


<div th:unless="${todoItemForm.existTodo}">
    <p>todoがありません</p>
</div>

<table border="1">
    <tbody>
    <tr th:each="todoItem : ${todoItemForm.todoItems}">
        <td>
            <p><a th:text="${todoItem.title}">xxx</a></p>
            <p><a>期限:</a><a th:text="${todoItem.deadline}">xxx</a></p>
            <p><a>作成日:</a><a th:text="${todoItem.create_day}">xxx</a></p>
        </td>
        <td>
            <form method="post" th:action="@{/edit}" th:object="${todoItem}">
                <input type="hidden" name="id" th:value="*{id}" />
                <input type="submit" value="編集" />
            </form>
        </td>
        <td>
            <form th:unless="${todoItem.done}" method="post" th:action="@{/done}" th:object="${todoItem}">
                <input type="hidden" name="id" th:value="*{id}" />
                <input type="submit" value="完了" />
            </form>
            <form th:if="${todoItem.done}" method="post" th:action="@{/restore}" th:object="${todoItem}">
                <input type="hidden" name="id" th:value="*{id}" />
                <input type="submit" value="未完了" />
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
